services:
  dev:
    build:
      context: ../../
      dockerfile: docker/Dockerfile.dev
    user: "1000:1000"
    volumes:
      - ./:/workspace
    working_dir: /workspace
    env_file:
      - ../../.env
    environment:
      - HOST_UID=${HOST_UID:-1000}
      - HOST_GID=${HOST_GID:-1000}
    command: sleep infinity
