services:
  dev:
    build:
      context: ../../
      dockerfile: docker/Dockerfile.dev
    volumes:
      - ./:/workspace
    working_dir: /workspace
    env_file:
      - ../../.env
    tty: true
